[Unit]
Description=Automatically run OrangeBox system

[Service]
Type=oneshot
User=rock
Group=rock
ExecStart=/bin/bash /home/rock/OrangeBox/scripts/startup.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
