[Unit]
Description=Automatically run OrangeBox system
Wants=OrangeBoxLed.service OrangeBoxButton.service
After=OrangeBoxLed.service OrangeBoxButton.service

[Service]
Type=oneshot
User=rock
Group=rock
ExecStart=/bin/bash /home/rock/OrangeBox/scripts/startup.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
